
.cuadro {
    background-color: #001C61;
    height: 139px;
    width: 160px;
    margin: 10px;
    color: white;
    font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 800;
}
body{
    height: 100vh;
    font-family: roboto;
}
a{
    text-decoration: none;
    color: white;
}
td{
    color:  #001C61;
    font-weight: 500;
}
h1{
    font-weight: 800;
}