<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="d-flex flex-column justify-content-between">
    <header>
      <nav class="navbar" style="background-color: #0b3cb8">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="../index.html">
            <img
              src="../img/logo.png"
              alt="Logo"
              width="50"
              height="50"
              class="d-inline-block"
            />
            <strong>Mi Perú La Barriada</strong> 
          </a>
        </div>
      </nav>
    </header>
    
<h1 class="container text-center"><strong>MES DE MAYO</strong></h1>
<div class="table-responsive">
    <table class="table container table-bordered border-primary text-center">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">FECHA</th>
            <th scope="col">TARJETAS</th>
            <th scope="col">SALDO</th>
            <th scope="col">SUB TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td >02/05/2023</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td >04/05/2023</td>
            <td>S/0.00</td>
            <td>S/20.00</td>
            <td>S/20.00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >09/05/2023</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td >11/05/2023</td>
            <td>S/0.00</td>
            <td>S/0.00</td> 
            <td>S/0.00</td> 
          </tr>
          <tr>
            <th scope="row">5</th>
            <td >16/05/2023</td>
            <td>S/0.00</td>
            <td>S/20.00</td>
            <td>S/20.00</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td >18/05/2023</td>
            <td>S/0.00</td>
            <td>S/20.00</td>
            <td>S/20.00</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td >23/05/2023</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td >25/05/2023</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td >30/05/2023</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
            <td>S/0.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container text-end display-6 ">
       <strong><b>TOTAL : </b></strong> S/60.00
    </div>

    <div class="container text-center d-flex justify-content-around">
        <footer>2023 - Dev - Miguel Vera</footer>
    </div>

  </body>
</html>
